spring:
  datasource:
    url: jdbc:mysql://localhost:3306/realestate?useSSL=false&serverTimezone=UTC
    username: root     # hoặc root
    password: 12345678       # mật khẩu thật của bạn
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: your_email@gmail.com
    password: your_app_password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8080

app:
  jwt:
    secret: "this-is-a-very-long-super-secret-key-123456"
